* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

p {
  text-align: center;
}

.container-logo {
  /* background: linear-gradient(rgb(0,0,0)62%, rgb(230, 28, 28)); */
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: -moz-radial-gradient(center, ellipse cover, rgb(68, 40, 40) 0%, rgba(157, 12, 12, 0.82) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(68, 40, 40)), color-stop(100%, rgba(157, 12, 12, 0.82)));
    background: -webkit-radial-gradient(center, ellipse cover, rgb(68, 40, 40) 0%, rgba(157, 12, 12, 0.82) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgb(68, 40, 40) 0%, rgba(157, 12, 12, 0.82) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgb(68, 40, 40) 0%, rgba(157, 12, 12, 0.82) 100%);
    background: radial-gradient(ellipse at center, rgb(68, 40, 40) 0%, rgba(157, 12, 12, 0.82) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF0000', endColorstr='#000000',GradientType=1 );
}

.logo {
  width: 50vw;
}

/* REGISTER */
.register-backgound {
  background: -moz-radial-gradient(center, ellipse cover, rgb(68, 40, 40) 0%, rgba(157, 12, 12, 0.82) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(68, 40, 40)), color-stop(100%, rgba(157, 12, 12, 0.82)));
  background: -webkit-radial-gradient(center, ellipse cover, rgb(68, 40, 40) 0%, rgba(157, 12, 12, 0.82) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgb(68, 40, 40) 0%, rgba(157, 12, 12, 0.82) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgb(68, 40, 40) 0%, rgba(157, 12, 12, 0.82) 100%);
  background: radial-gradient(ellipse at center, rgb(68, 40, 40) 0%, rgba(157, 12, 12, 0.82) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF0000', endColorstr='#000000',GradientType=1 );
  height: 100vh;
  }

.header-logo {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.header-logo img {
    width: 130px;
}

.main-logo {
  margin: 7em 0;
}

.buttons-login {
  display: flex;
  justify-content: center;
  margin-bottom: 5em;
}

.buttons-login a {
  background-color: transparent;
  border-radius: 0.3em;
  border: 2px solid #fff;
  color: #fff;
  /* font-size: 5rem; */
  margin: 0 1em;
  padding: 2rem;
} 

/* SIGN UP */
.nav-info {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
}

.nav-info h3 {
  color: #0d2155;
  text-align: center;
  width: 90%;
}

#back-arrow {
  /* color: #0d2155; */
  font-size: 2em;
}

.header-sign-up {
  display: flex;
  align-items: center;
}

.list-flag {
  min-width: 0px; 
}

.input-number-box{
  display: flex;
}

#calling-code {
  font-size: 1.4rem;
  display: flex;
  /* margin: 0 0.3em 0 1em; */
  flex-direction: row;
  align-items: center;
}

div#info-code-sms {
  display: flex;
  font-size: 2.2rem;
  justify-content: center;
  text-align: center;
  margin-top: 1em;
}

.button-send {
  text-align: center;
  margin-top: 1em;
}
/* 
.button-next {
  margin-top: 3em;
} */

.button-next button {
  border-radius: 0;
  border: none;
  background: #dfdfdf;
  color: #aeaeae;
  margin-top: 7em;
  width: 100%;
}
/* end Sign up */

/* VERIFY */
.enter-code {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.enter-code input {
  border: none;
  border-bottom: 1px solid #337ab7;
  text-align: center;
  width: 10vw;
}

.button-next {
  border
}

/* end verify */

/* ACCOUNT */

.input-account, .input-email {
  border: none;
}

.box-user-mail {
  margin: 2em 0;
}

.user-input {
  /* border: none; */
  width: 48%;
}

.mail-input {
  width: 100%;
}

