* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.container-logo {
  background: linear-gradient(rgb(0,0,0)62%, rgb(230, 28, 28));
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 50vw;
}

/* LOGIN */
.register-backgound {
  background: -moz-radial-gradient(center, ellipse cover, rgb(68, 40, 40) 0%, rgba(157, 12, 12, 0.82) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(68, 40, 40)), color-stop(100%, rgba(157, 12, 12, 0.82)));
  background: -webkit-radial-gradient(center, ellipse cover, rgb(68, 40, 40) 0%, rgba(157, 12, 12, 0.82) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgb(68, 40, 40) 0%, rgba(157, 12, 12, 0.82) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgb(68, 40, 40) 0%, rgba(157, 12, 12, 0.82) 100%);
  background: radial-gradient(ellipse at center, rgb(68, 40, 40) 0%, rgba(157, 12, 12, 0.82) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF0000', endColorstr='#000000',GradientType=1 );
  height: 100vh;
  }

/* .register-backgound > div {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
} */

.header-logo {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 5em;
}

.header-logo img {
    width: 130px;
}

.main-logo {
  margin: 8.5em 0;
}

.buttons-login {
  display: flex;
  justify-content: center;
  margin-bottom: 5em;
}

.buttons-login a {
  background-color: transparent;
  border-radius: 0.3em;
  border: 2px solid #fff;
  color: #fff;
  /* font-size: 5rem; */
  margin: 0 1em;
  padding: 2rem;
} 

/* SIGN UP */
.header-sign-up {
  outline: 2px solid aqua;
  display: flex;
  align-items: center;
}

.arrow-icon {
  font-size: 3rem;
}

.list-flag {
  min-width: 0px; 
}

.input-number-box{
  display: flex;
  outline: 1px solid blue;
}

div#info-code-sms {
  display: flex;
}