<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/main.css">
  <title>Lyft</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-1">
        <a href="verify.html"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i></a>
      </div>
      <div class="col-xs-10">
        <h2>Sign Up</h2>
        <p>Join now for free ride credit.</p>
        <hr>
      </div>
    </div>
    <!-- Name and email form -->
    <div class="row">
      <!-- Form -->
      <!-- <div class="col-xs-12">
          <form class="form-horizontal">
              <div class="form-group has-success has-feedback"> USAR has-success has-feedback en la clase input group
                <label class="control-label col-sm-3" for="inputSuccess3">Input with success</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="inputSuccess3" aria-describedby="inputSuccess3Status">
                  <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                  <span id="inputSuccess3Status" class="sr-only">(success)</span>
                </div>
              </div>
              <div class="form-group has-success has-feedback">
                <label class="control-label col-sm-3" for="inputGroupSuccess2">Input group with success</label>
                <div class="col-sm-9">
                  <div class="input-group">
                    <span class="input-group-addon">@</span>
                    <input type="text" class="form-control" id="inputGroupSuccess2" aria-describedby="inputGroupSuccess2Status">
                  </div>
                  <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                  <span id="inputGroupSuccess2Status" class="sr-only">(success)</span>
                </div>
              </div>    <i class="fa fa-envelope-o" aria-hidden="true"></i>  <i class="fa fa-user-o" aria-hidden="true"></i>
            </form>
      </div> -->


      <div class="input-group box-user-mail">
        <span class="input-group-addon" id="basic-addon1">
          <i class="fa fa-user-o" aria-hidden="true"></i>
        </span>
        <!-- <div class="form-control input-user-mail" id="input-user-mail" placeholder="Username" aria-describedby="basic-addon1"> -->
        <div class="form-control input-user-mail" id="basic-url" aria-describedby="basic-addon3">
          <input type="email" name="" id="" class="user-input">
          <input type="email" name="" id="" class="user-input">
        </div>
      </div>
      <div class="input-group box-user-mail">
        <span class="input-group-addon" id="basic-addon3">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
        </span>
        <div class="form-control" id="basic-url" aria-describedby="basic-addon3">
          <input type="text" name="" id="mail-input" class="mail-input">
        </div>
        
      </div>
    <!--  -->
    </div>
    <!-- End name and email form -->
  </div>
  <script src="../vendors/js/jquery.js"></script>
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="../js/account.js"></script>
</body>
</html>