<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/main.css">
  <title>Lyft</title>
</head>
<body>
  <div class="container-flex">
    <!-- Sign up info -->
    <div class="row">
      <div class="col-xs-2">hola
      </div>
      <div class="col-xs-10">
        <h2>Sign Up</h2>
        <p>Join now for free ride credit.</p>
      </div>
    </div>
    <!-- End Sign up info -->
    <!-- Form number -->
    <div class="row">
      <div class="col-xs-4 col-xs-offset-1">
       <!--input-group 
    <div class="input-group">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#"><img src="../assets/images/brazil.png" class="img-responsive" alt="Responsive image"></a></li>
            <li><a href="#"><img src="../assets/images/chile.png" class="img-responsive" alt="Responsive image"></a></li>
            <li><a href="#"><img src="../assets/images/mexico.png" class="img-responsive" alt="Responsive image"></a></li>
            <li><a href="#"><img src="../assets/images/peru.png" class="img-responsive" alt="Responsive image"></a></li>
          </ul>
        </div>
      </div> input-group -->




          <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Dropdown
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#"><img src="../assets/images/brazil.png" class="img-responsive" alt="Responsive image"></a></li>
                <li><a href="#"><img src="../assets/images/peru.png" class="img-responsive" alt="Responsive image"></a></li>
                <li><a href="#"><img src="../assets/images/chile.png" class="img-responsive" alt="Responsive image"></a></li>
              </ul>
            </div>
      </div>
      <div class="col-xs-6">
      </div>
    </div>
    <!-- End form numer -->
  </div>
  <script src="../vendors/js/jquery.js"></script>
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src=""></script>
</body>
</html>